#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

VERSION := $(shell dpkg-parsechangelog | grep '^Version:' | cut -d' ' -f2 | cut -d- -f1 | cut -d\: -f2)

%:
	dh $@

override_dh_clean:
	dh_clean
	rm -f version.h config.h VERSION

override_dh_auto_configure:
	dh_auto_configure
	echo "$(VERSION)" > VERSION
